@font-face {
    font-family: 'Electrolize';
    src: url("./Electrolize-Regular.ttf");
}

body {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	margin-top: 0px;
	padding: 0;
	font-family: Electrolize;
}

a, li {
	text-decoration: none;
	color: #EEE;
}

i {
	float: right;
}

img {
	margin-right: 10px;
}

progress:before {
  content: attr(text);
  padding: 0 10px;
  font-size: 0.9em;
  font-style: italic;
  position: absolute;
}

#menu {
	position: fixed;
	top: 0;
	height: 100%;
	width: 200px;
	background-color: #2F2F2F;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 10px;
	color: #EEE;
	box-shadow: 1px 0 2px #111;
}

#me {
	width: 180px;
	margin: 0 auto 10px auto;
	background-color: #4F4F4F;
	box-shadow: 0px 2px 2px #111;
}

#photo{
	height: 135px;
	width: 180px;
}

#infos {
	text-align: center;
	padding: 5px;
	padding-top: 0;
}

.scroll {
	width: 180px;
	margin: auto;
	margin-bottom: 10px;
}

.link {
	padding: 5px;
	background-color: #4F4F4F;
	box-shadow: 0px 2px 2px #111;
}

.link:hover {
	box-shadow: none;
}

.select {
	background-color: #EEE;
	color: #4F4F4F;
	box-shadow: none;
	font-size: 1.1em;
}

#keyboard {
	margin-bottom: 5px;
	padding: 10px;
	font-size: 0.8em;
	background-color: #4F4F4F;
	border-top: solid 1px #111;
	text-align: center;
}

#keyboard img {
	width: 180px;
	height: 70px;
}

#main {
	margin: auto;
	margin-left: 200px;
}

#state {
	position: fixed;
	top: 0;
	right: 0;
	padding: 5px;
	color: #EEE;
	background-color: #2F2F2F;
	box-shadow: 0 1px 2px #111;
	z-index: 42;
}

.content {
	padding-bottom: 20px;
}

.content header {
	width: 100%-10px;
	box-shadow: 0 0 5px #111;
	margin-top: 0;
	margin-bottom: 10px;
	padding: 0 10px 10px 10px;
	font-size: 3em;
	color: #EEE;
	text-align: center;
}

.content header img {
	position: relative;
	top: 10px;
	width: 100px;
	height: 100px;
}

.content header span {
	position: relative;
	top: -20px;
}

.content article {
	padding: 10px;
}

.flex {
	display: flex;
	justify-content: space-around;
}

.part {
	padding: 10px;
	box-shadow: 0 1px 1px #111;
	background-color: #6F6F6F;
	color: #EEE;
}

.part2 {
	width: 45%;
}

.part3 {
	width: 30%;
}

.experiences {
	min-width: 40%;
}

.flex_img {
	vertical-align: middle;
	width: 60px;
	height: 60px;
}

.float {
	display: inline-block;
	position: relative;
	top: 0.6em;
}

progress {
	width: 100%;
}

#languages {
	text-align: center;
}

#languages .flex {
	margin-top: 10px;
}

.diploma {
	margin-right: 0;
	height: 10px;
	width: auto;
}

#contact .part div {
	margin-top: 10px;
}

.social_img{
	vertical-align: top;
	margin-right: 5px;
	height: 20px;
	width: auto;
}

footer {
	margin-left: 200px;
	text-align: center;
	background-color: #2F2F2F;
	color: #EEE;
	box-shadow: 0 0 2px #111;
}

#k {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #4F4F4F;
	z-index: 666;

	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#k div div {
	background-color: #6F6F6F;
	color: #EEE;
	box-shadow: 0 1px 2px #111;
	padding: 10px;
	text-align: center;
	margin: 0 10px;
}

.k_img {
	width: 100px;
	height: auto;
	margin-bottom: 10px;
}

.k_img_wtf {
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
}